body, html {
	height: 80%;
	background-repeat: no-repeat;
	background:black;
	position: relative;
}
#container {
	width: 400px;
	margin: auto;
	margin-top: 150px;
}

#logo-style {
	color: black;
	font-weight: bold;
}
#logo-font {
	color: yellow;
	font-weight: bold;
}
#logo-img {
	max-height: 50px;
	max-width:50px;
}

#error-msg {
	border-radius: 0;
}

#login-box {
	margin: auto;
	border: 1px solid black;
	background: rgba(48, 46, 45, 1);
	min-height: 250px;
	padding: 20px;
	z-index: 9999;
}
#login-box .logo .logo-caption {
	color: white;
	text-align: center;
	margin-bottom: 0px;
}
#login-box .logo .tweak {
	color: #ff5252;
}
#login-box .controls {
	padding-top: 30px;
}
#login-box .controls input {
	border-radius: 0px;
	background: rgb(98, 96, 96);
	border: 0px;
	color: white;
	font-family: 'Nunito', sans-serif;
}
#login-box .controls input:focus {
	box-shadow: none;
}
#login-box .controls input:first-child {
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
}
#login-box .controls input:last-child {
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
}
#login-box button.btn-custom {
	border-radius: 2px;
	margin-top: 8px;
	background: black;
	border-color: rgba(48, 46, 45, 1);
	color: white;
	font-family: 'Nunito', sans-serif;
}
#login-box button.btn-custom:hover{
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
	background: rgba(48, 46, 45, 1);
	border-color: yellow;
}

.login-username {
    margin-bottom: 5px;
}

footer {
    color: yellow;
    width: 500px;
    margin: auto;
    margin-top: 10px;
    font-size: 12px;
    text-align: center;
}
