html {
  cursor: default;
}
.tab {
overflow: auto;
border-bottom: 1px solid #ccc;
background-color: #f1f1f1;
}
.tab button {
background-color: inherit;
float: left;
border: 0;
cursor: pointer;
padding: 10px 12px;
transition: 0.3s;
font-size: 14px;
}
.tab-content {
display: none;
padding: 6px 12px;
border: 0;
border-top: none;
}
#logo-mini {
  max-height: 30px;
  max-width:30px;
}
#logo-full {
  max-height: 30px;
  max-width:30px;
}
#username {
  font-size: 16px;
  margin-top: 15px;
  margin-right: 15px;
}
#host-info {
  font-size: 16px;
  margin-top: 15px;
  margin-left: 15px;
}
#online-shells-header {
  border-bottom: 1px solid #ccc;
}
#online-shells-title{
  font-weight: bold;
  font-size: 14px;
}
#online-shells-body {
  font-size: 12px;
  height: 45vh;
  max-height: 45vh;
  overflow: auto;
}
#shrink-shells {
  font-size: 14px;
}
#chat-header {
  border-bottom: 1px solid #ccc;
}
#chat-title{
  font-weight: bold;
  font-size: 14px;
}
#chat-body {
  height: 45vh;
  max-height: 45vh;
  overflow: auto;
}
#shrink-chat {
  font-size: 12px;
}
#message-area {
  overflow: auto;
  height: 38vh;
  max-height: 38vh;
  word-wrap: break-word;
}
#message-username{
  font-size: 16px;
}
#message-text {
  font-size: 12px;
  margin-left: -10px;
  border: none;color: black;
  text-align: left;
  background-color: white;
  width: 100%;
}
#log {
  display: hidden;
}
#log-header {
  border-bottom: 1px solid #ccc;
}
#log-title{
  font-weight: bold;
  font-size: 14px;
}
#log-body {
  height: 30vh;
  font-size: 12px;
  margin-left: 0px;
  border: none;
  color: black;
  text-align: left;
  padding-left: 10px;
  background-color: white;
  width: 100%;
  white-space:pre-wrap;
  overflow:auto;
}
#sinfo {
  display: hidden;
}
#sinfo-header {
  border-bottom: 1px solid #ccc;
}
#sinfo-title{
  font-weight: bold;
  font-size: 14px;
}
#sinfo-body {
  line-height: 1em;
  height: 30vh;
  font-size: 12px;
  padding-left: 10px;
  margin-top: 1px;
  border: none;
  color: black;
  text-align: left;
  background-color: white;
  width: 100%;
  white-space:pre-wrap;
  overflow:hidden;
}
#sinfo-btn-body {
  font-size: 12px
}
#shell-command {
  font-size: 12px
}
#shell-command-button {
  font-size: 14px
}
#chat-message {
  font-size: 12px
}
#chat-message-button {
  font-size: 14px
}
#log-output {
  height: 35vh;
  font-size: 16px;
  margin-left: 0;
  border: none;
  color: black;
  text-align: left;
  background-color: white;
  width: 100%
}
#log-full-header {
  border-bottom: 1px solid #ccc;
}
#log-full {
  display: hidden;
}
#log-full-title{
  font-weight: bold;
  font-size: 14px;
}
#log-full-body {
  height: 70vh;
}
#shrink-log-full-body {
  font-size: 12px;
}
#log-full-message {
  height: 67vh;
}
#log-full-content {
  white-space:pre-wrap;
}
#shell-open {
  border-right: 1px solid #ccc;
}
#shell-close {
  font-size: 12px;
  margin-top: 2px
}
#tab-header {
  background-color: white;
}
#tab-close {
  font-size: 12px;
  margin-top: 2px;
}
#keylogger {
  border-right: 1px solid #ccc;
}#screenshot {
  border-right: 1px solid #ccc;
}
#shell-logs {
  border-right: 1px solid #ccc;
}
#shell-info {
  float: left;
  padding: 12px;
  font-size: 12px;
}
#shrink-shell {
  font-size: 12px;
  margin-top: 2px;
  align: right;
}
#interact-shell {
  background-color: white;
}
#shell-input-output {
  overflow: auto;
  height: 65vh;
  background-color: white;
  word-wrap: break-word;
  white-space:pre-wrap;
}
#interact-keylogger {
  height: 73vh;
  background-color: white;
  overflow: auto
}
#interact-screenshot {
  height: 73vh;
  background-color: white;
  overflow: auto;
  width: 100%;
}
#keylogger-area {
  white-space:pre-wrap;
}
#interact-log {
  height: 73vh;
  background-color: white;
  overflow: auto
}
#shell-log-area {
  white-space:pre-wrap;
}
#message-timestamp {
  font-size: 12px;
}
#log-content {
  white-space:pre-wrap;
}
#log-date {
  white-space:pre-wrap;
}

#shell-input-output {
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 0.25cm;
}

li {
    list-style-type: none;
}
