::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #282828;
    border-radius: 0px;
}

::-webkit-scrollbar-thumb {
    background: #424242;
    border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
    background: #282828;
}

#shell-content {
    max-height: 99vh;
    overflow-y: auto;
    display: none;
    overflow-x: hidden;
}

#shell-logs-body{
    margin-left: 10px;min-height: 94vh;white-space:pre-wrap;font-size: 16px;color: #dcdcdc
}

#shell-content-body {
    overflow-x: hidden; 
    margin-left: 10px;
    min-height: 98vh;
    max-height: 98vh;
    margin-top: -72px;
    white-space: pre-wrap;
    color: #dcdcdc;
    display: none;
    overflow-y: auto;
}

#shell-command {
    position: absolute;
    bottom: 0;
}

#shell-logs-content,
#shell-download-content,
#shell-keylogger-content,
#shell-screenshot-content {
    overflow: auto;
    display: none;
    position: relative;
    min-height: 93vh;
    max-height: 93vh;
    margin-left: 10px;
    min-height: 94vh;
    border-color: #282828; 
    background-color: black;
    color: white;    
}

#events-tab {
    max-height: 40px;
}

#logo-mini {
    max-height: 30px;
    max-width: 30px;
}

#logo-full {
    max-height: 30px;
    max-width: 30px;
}

#logs-close {
    float: right;
}

#logs-minimize {
    float: right;
}

#events-content {
    margin-top: 10px;
    margin-left: 10px;
    min-height: 40vh;
    max-height: 40vh;
    background-color: black;
    bottom: 0px;
    width: 100%;
    overflow: auto;
    border-color: black;
    background-color: black;
    font-size: 14px;
    color: #dcdcdc;
    overflow: auto;
    white-space: pre-wrap;
}

#logs-content {
    min-height: 58vh;
    max-height: 58vh;
    border-color: #282828;
    background-color: black;
    color: white;
    overflow: auto;
    display: none;
}

#logs-content-body {
    margin-left: 10px;
    min-height: 58vh;
    max-height: 58vh;
    white-space: pre-wrap;
    font-size: 16px;
    color: #dcdcdc;
}

#main-tab {
    min-height: 36px;
    max-height: 36px;
    border-color: #282828;
    background-color: #282828
}

#online-shells-content {
    min-height: 47vh;
    max-height: 47vh;
    background-color: black;
    top: 36px;
    bottom: 0px;
    width: 100%;
    border-color: #282828;
    background-color: black;
    overflow: auto;
    display: block;
}

#online-shells-content-body {
    font-size: 14px;
    color: #dcdcdc;
    width: 100%;
}

#chat-content {
    min-height: 45.8vh;
    max-height: 45.8vh;
    border-color: #282828;
    background-color: black;
}

#chat-content-body {
    margin-top: 10px;
    margin-left: 10px;
    width: 99%;
    min-height: 41vh;
    max-height: 41vh;
    font-size: 16px;
    color: #dcdcdc;
    overflow: auto;
}

#chat-input {
    position: sticky;
    margin-left: 10px;
    width: 99%;
    background-color: black;
    color: white;
    border: 0px solid #282828;
    border-top: 1px solid #282828;
    bottom: 0;
}

.content-box-gray .content {
    overflow: hidden;
    padding: 10px;
    font-size: 15px;
    color: green;
}

.content-box-gray .title {
    height: 35px;
    line-height: 35px;
    background: gray;
    display: block;
    color: white;
    font-style: bold;
    font-size: 22px;
    display: block;
    padding: 4px;
    border: 1px solid gray;
    border-bottom: none;
}

body {
    font-family: Arial;
}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 6px 12px;
    transition: 0.3s;
    font-size: 17px;
}

.tab button:hover {
    background-color: #424242;
}

.tab button.active {
    background-color: #424242;
}

.tabcontent {
    display: none;
    border-top: none;
}

.tabcontent2 {
    min-height: 100% ;
    max-height: 100%
}

td {
    border-bottom: 1px solid #282828;
}

li{
    color: white;
    background-color: #282828;
}

li:hover {
    background-color: #424242;
}

.sidebar-toggle:hover {
    opacity: 1.0;
    box-shadow: none;
}

#load-dashboard,
#load-online-shells,
#log-menu,
#payload-menu,
#info-menu,
#signout-menu,
#http-log,
#loag-chat{
    background-color: #282828;
}
#load-chat:hover {
    background-color: #424242;
}

#load-dashboard:hover {
    background-color: #424242;
}

#load-online-shells:hover {
    background-color: #424242;
}

#log-menu:hover {
    background-color: #424242;
}

#payload-menu:hover {
    background-color: #424242;
}

#load-events:hover,
#info-menu:hover {
    background-color: #424242;
}

#signout-menu:hover {
    background-color: #424242;
}

#http-log:hover {
    background-color: #424242;
}

#sub_nav {
    display: none;
    background-color: #424242;
}

#sub_nav:hover {
    display: block;
    background-color: #424242;
}

a {
    color: white;
}

a:hover {
    color: white;
    
}

#thunder-logo-text {
    color: yellow;
}

#shell-logo-text {
    color: white;
}

#wrapper {
    background-color: #282828;
}

#log-tree {
    color: white;
}

#event-log,
#http-log,
#chat-log,
#error-log {
    background-color: #424242;
}

#content-wrapper {
    background-color: black;
    border: 0px 0px 0px 0px;
}

#logs-tab {
    display: none;
    overflow-x: auto;
    display: none;
    max-height: 36px;
    border-color: #282828;
    background-color: #282828;
}

#shell-tab{
    display: none;max-height: 36px ;border-color: #282828;background-color: #282828;
}

#events-tab{
    max-height: 36px;
    border-color: #282828; background-color: #282828
}

#shell-info-button,
{
    pointer-events:none; color: white;
}

#shell-info-button,
#shell-logs-button,
#events-button,
#online-shells-button,
#chat-button,
#chat-close,
#error-logs-button,
#http-logs-button,
#chat-logs-button,
#event-logs-button,
#shell-keylogger-button,
#shell-screenshot-button,
#shell-button{
    font-size: 16px;
    color: white;
}

#shell-close,
#events-close,
#chat-close,
#logs-close
{
    color:white;
    font-size: 16px;
    float: right;
}

#shell-command-body{
    border-top: 1px solid #282828;
}
#shell-terminal{
    position: relative;
    font-size: 16px;
    color: #dcdcdc;
} 
#shell-terminal-icon{
    margin-top: 10px;
    margin-left: 10px;
    font-size: 26px;
}
#shell-command{
    height: 90%;
    width: 96%;
    margin-left: 40px;
    background-color: black;
    color: white; 
    border: 0px;
}
.modal-content{background-color: #525252; color: #dcdcdc}
.modal-header{border-color: white}
.modal-title{font-size: 24px; color: white}
.modal-body{
    color:white;
}
.modal-footer{
    border-color: #525252
}
#confirm,
#cancel,
#close-modal{
    background-color: #282828; border-color: #282828; color: #dcdcdc
}

#load-dashboard,
#load-events,
#load-chat,
#load-online-shells,
#payload-menu,
#info-menu,
#signout-menu{
    color:white;
}

#shell-delete{border: 0px;color: #dcdcdc}
#shell-table{
    width: 99%;
    margin-left: 10px;
}
#shell-table-header{
    border-top: 0px; border-bottom: 1px solid #525252; color: #dcdcdc;
}
