<!DOCTYPE html>
<html>

   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>ThunderShell</title>
      <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
      <link rel="stylesheet" href="static/css/bootstrap.min.css">
      <link rel="stylesheet" href="static/css/font-awesome/css/font-awesome.min.css">
      <link rel="stylesheet" href="static/css/AdminLTE.min.css">
      <link rel="stylesheet" href="static/css/skin-black.min.css">
      <link rel="stylesheet" href="static/css/thunder.css">
      <link rel="shortcut icon" href="static/img/TShell-Black.ico">
   </head>
   {% block content %}
   <body class="hold-transition skin-black sidebar-mini">
      <div class="wrapper">
         <header class="main-header">
            <a href="dashboard" class="logo">
               <span class="logo-mini"><img id="logo-mini" src="static/img/TShell-Black.ico"></img></span>
               <link href="/static/img" rel="shortcut icon">
               <span class="logo-lg"><img id="logo-full" src="static/img/TShell-Black.ico"></img><b>  Thunder</b>Shell</span>
            </a>
            <nav class="navbar navbar-static-top" role="navigation">
               <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
               <span class="sr-only">Toggle navigation</span>
               </a>
            </nav>
         </header>
         <aside class="main-sidebar">
            <section class="sidebar">
               <ul class="sidebar-menu" data-widget="tree">
                  <li><a id="load-dashboard"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a></li>
                  <li><a id="load-chat"><i class="fa fa-comment"></i> <span>Chat Room</span></a></li>
                  <li><a id="load-online-shells"><i class="fa fa-terminal"></i> <span>Online Shells</span></a></li>
                  <li><a data-toggle="modal" data-target="#myModalPayload" id="payload-menu"><i class="fa fa-flask"></i> <span>Generate Payload</span></a></li>
                  <li class="treeview">
                     <a id="log-menu"><i class="fa fa-gear"></i> <span>View Logs</span>
                     <span class="pull-right-container">
                     <i class="fa fa-angle-left pull-right"></i>
                     </span>
                     </a>
                     <ul class="treeview-menu">
                        <li><a id="event-log">Event Log</a></li>
                        <li><a id="http-log">HTTP Log</a></li>
                        <li><a id="chat-log">Chat Log</a></li>
                        <li><a id="shells-log">Shells Log</a></li>
                        <li><a id="keyloggers-log">Keylogger Log</a></li>
                        <li><a id="screenshots-log">Screenshots Log</a></li>
                        <li><a id="error-log">Error Log</a></li>
                     </ul>
                  </li>
                  <li><a href="/logout"><i class="fa fa-sign-out"></i> <span>Sign Out</span></a></li>
               </ul>
            </section>
         </aside>
         <div class="content-wrapper">
            <!-- Main content -->
            <section class="content container-fluid">
               <div class="row">
                  <!-- Online Shells -->
                  <div id="online-shells" class="col-md-6">
                     <div class="box">
                        <div id="online-shells-header" class="box-header with-border">
                           <h3 id="online-shells-title" class="box-title">Online Shells</h3>
                           <div class="box-tools pull-right">
                              <!-- <span id="online-shells-notif" data-toggle="tooltip" title="New Activities" class="badge bg-black"></span> -->
                              <button onclick="$('#chat').css('width', '100%');$('#online-shells').css('display', 'none')" type="button" class="btn btn-box-tool pull-right"><i class="fa fa-times"></i></button>
                              <button id="shrink-shells" onclick="$('#online-shells-body').collapse('toggle')" type="button" class="btn btn-box-tool pull-right"><i class="fa fa-minus"></i>
                              </button>
                           </div>
                        </div>
                        <div id="online-shells-body" class="box-body collapse">
                        </div>
                     </div>
                  </div>
                  <!-- Online Shells -->
                  <!-- Chat Room -->
                  <div id="chat" class="col-md-6">
                     <div class="box direct-chat direct-chat-warning">
                        <div id="chat-header" class="box-header with-border">
                           <h3 id="chat-title" class="box-title">Chat Room</h3>
                           <div class="box-tools pull-right">
                              <!-- <span id="chat-notif" data-toggle="tooltip" title="New Activities" class="badge bg-black"></span> -->

                              <button type="button" onclick="$('#online-shells').css('width', '100%');$('#chat').css('display', 'none')" class="btn btn-box-tool pull-right" ><i class="fa fa-times"></i>
                              </button>
                              <button id="shrink-chat" onclick="$('#chat-body').collapse('toggle')" type="button" class="btn btn-box-tool pull-right"><i class="fa fa-minus"></i>
                              </button>
                           </div>
                        </div>
                        <div id="chat-body" class="box-body collapse">
                           <div id="message-area" class="direct-chat-messages">
                             <!-- chat msg area -->
                             {% include "msgs.html" %}
                              <!-- chat msg area -->
                           </div>
                           <div id="chat-footer" class="box-footer">
                                 <div class="input-group">
                                    <input id="chat-message" autocomplete="off" type="text" name="message" placeholder="Type Message ..." class="form-control">
                                    <span class="input-group-btn">
                                    <button id="chat-message-button" onclick="send_msg()" type="button" class="btn btn-flat bg-black">Send</button>
                                    </span>
                                 </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <!-- Chat Room -->

               <!-- Small Log -->
               <div class="row">

               <div id="log">
                     <div class="col-md-12">
                        <div id="log-area" class="box direct-chat direct-chat-warning">
                          <div id="log-header" class="box-header with-border">
                             <h3 id="log-title" class="box-title">Events</h3>
                             <div class="box-tools pull-right">
                                <button type="button" onclick="$('#sinfo').css('width', '100%');$('#log').css('display', 'none')" class="btn btn-box-tool pull-right"><i class="fa fa-times"></i>
                                </button>
                                <button id="shrink-log-body" onclick="$('#log-body').collapse('toggle')" type="button" class="btn btn-box-tool pull-right"><i class="fa fa-minus"></i>
                                </button>
                             </div>
                          </div>
                          <div id="log-body" class="box-body"> </div>
                        </div>
                    </div>
                  </div>
               <!-- Small Log -->

               <!-- Server info -->
               <div style="float: left;" id="sinfo">
                     <div class="col-md-12">
                        <div id="sinfo" class="box direct-chat direct-chat-warning">
                          <div id="sinfo-header" class="box-header with-border">
                             <h3 id="sinfo-title" class="box-title">Server Info</h3>
                             <div class="box-tools pull-right">
                                <button type="button" onclick="$('#log').css('width', '100%');$('#sinfo').css('display', 'none')" class="btn btn-box-tool pull-right"><i class="fa fa-times"></i>
                                </button>
                                <button id="sinfo-btn-body" onclick="$('#sinfo-body').collapse('toggle')" type="button" class="btn btn-box-tool pull-right"><i class="fa fa-minus"></i>
                                </button>
                             </div>
                          </div>
                          <div id="sinfo-body" class="box-body"><li><b>Your Username:</b> {{username}}</li>
                              <li><b>RAT Server URL:</b> {{protocol}}{{host}}:{{port}}</li>
                              <li><b>Payload Callback URL: </b>{{callback_url}}</li>
                              <li><b>Payload Download URL: </b>{{protocol}}{{host}}:{{port}}/{{payload_name}}</li>
                              <li><b>GUI Server URL:</b> {{protocol}}{{gui_host}}:{{gui_port}}</li>
                              <li><b>GUI Server Password:</b> {{gui_password}}</li>
                          </div>
                        </div>
                    </div>
                  </div>
                </div>
               <!-- Small Log -->

               <!-- Delete Shell Modal -->
               <div class="modal fade" id="myModal" role="dialog">
                 <div class="modal-dialog">

                   <!-- Modal content-->
                   <div class="modal-content">
                     <div class="modal-header">
                       <button type="button" class="close" data-dismiss="modal">&times;</button>
                       <h4 class="modal-title">Delete Shell</h4>
                     </div>
                     <div class="modal-body">
                       <p>Are you sure you want to delete this shell?</p>
                     </div>
                     <div class="modal-footer">
                       <button id="confirm" type="button" class="btn btn-default" data-dismiss="modal">Confirm</button>
                       <button id="cancel" type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                     </div>
                   </div>

                 </div>
               </div>
               <!-- Modal -->
               <!--Payload Modal -->
               <div class="modal fade" id="myModalPayload" role="dialog">
                 <div class="modal-dialog">

                   <!-- Modal content-->
                   <div class="modal-content">
                     <div class="modal-header">
                       <button type="button" class="close" data-dismiss="modal">&times;</button>
                       <h4 class="modal-title">Set Payload Information</h4>
                     </div>
                     <div class="modal-body">
                       <br><p>Setting a new callback host and port for the payload will require you to setup port fowarding on the specified callback host.</p><br>
                       <label for="payload-info">Enter payload callback address (Leave empty for default value)</label>
                         <input onchange="setPayload()" name="payloadInfo" type="text" class="form-control" id="payload-info" placeholder="http://{{host}}:{{port}} or https://www.ringzer0team.com"/><br>
                       <label for="payload-type">Select payload type:</label>
                       <select onchange="setPayload()" name="payloadType" id="payload-type">
                         <option></option>
                         <option value="/{{payload_name}}/exe/10000" id="payload-exe">exe</option>
                         <option value="/{{payload_name}}/cs/10000" id="payload-cs">csharp</option>
                         <option value="/{{payload_name}}/ps/10000" id="payload-ps">powershell</option>
                         <option value="/{{payload_name}}/msbuild/10000" id="payload-ps">msbuild</option>
                         <!--<option value="/{{payload_name}}/dll/10000" id="payload-dll">dll</option>-->
                       </select>
                     </div>
                     <div class="modal-footer">
                       <button onclick="fetchPayload()" type="button" class="btn btn-default" data-dismiss="modal">Confirm</button>
                       <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                     </div>
                   </div>

                 </div>
               </div>
               <!-- Modal -->



               <div id="shell-placeholder">
                 <div id="shell-box" class="box">
                 <div id="tab-header" class="tab">
                   <button class="tablinks" onclick="open_box(event, 'interact-shell')" id="shell-open"><b>Shell</b></button>
                   <button class="tablinks" onclick="open_box(event, 'interact-keylogger')" id="keylogger"><b>Keylogger</b></button>
                   <button class="tablinks" onclick="open_box(event, 'interact-screenshot');" id="screenshot"><b>Screenshots</b></button>
                   <button class="tablinks" onclick="open_box(event, 'interact-log')" id="shell-logs"><b>Log</b></button>
                   <div class="tablinks" id="shell-info"></div>
                   <button id="shell-close" onclick="$('#shell-box').css('display', 'none');$.get('/api/detachShell/{{guid}}/{{id}}')" type="button" class="btn btn-box-tool pull-right"><i class="fa fa-times"></i></button>
                   <button id="shrink-shell" onclick="$('#shell-box-body').toggle();" type="button" class="btn btn-box-tool pull-right"><i class="fa fa-minus"></i></button>
                 </div>
                 <div id="shell-box-body">
                 <div id="interact-shell" class="tab-content">
                   <div id="shell-input-output" type="text"></div>

                   <div id="shell-footer" class="box-footer ">
                         <div class="input-group">
                            <input id="shell-command" autocomplete="off" type="text" name="message" placeholder="Type Command ..." class="form-control">
                            <span class="input-group-btn">
                            <button id="shell-command-button" onclick="" type="button" class="btn btn-warning btn-flat bg-black">Send</button>
                            </span>
                         </div>
                   </div>
                 </div>
                 <div id="interact-keylogger" class="tab-content">
                   <p id="keylogger-area"></p>
                 </div>
                 <div id="interact-log" class="tab-content">
                   <p id="shell-log-area"></p>
                 </div>
                 <div id="interact-screenshot" class="tab-content">
                   <p id="screenshot-area">a</p>
                 </div>
                 </div>
                 </div>
               </div>

               <!-- Log-Full -->
               <div id="log-full">
                  <div class="row">
                     <div class="col-sm-12 col-md-12">
                        <div id="log-full-area" class="box direct-chat direct-chat-warning">
                        </div>
                     </div>
                  </div>
               </div>
               <!-- Log-Full -->


         </div>
      </div>
      </section>
      {% endblock %}
   </body>

   <!-- REQUIRED JS SCRIPTS -->
   <script src="static/js/jquery.min.js"></script>
   <script src="static/js/bootstrap.min.js"></script>
   <script src="static/js/adminlte.min.js"></script>
   <script src="static/js/socket.io.min.js"></script>

   <script>
   var currentId = "__undefined__";
   var uid = "__undefined__";
   var payloadType = "__undefined__";
   var payloadCallback  = "__undefined__";

   setInterval(function(){
    $.ajax({
      type: "GET",
      url: "/",
      async: true,
      success: null,
      error: function(data){
        window.location = "/login"
      }      
    });
   }, 15000);

   function setPayload(){
     payloadType = document.getElementById("payload-type").value;
     payloadCallback = encodeURIComponent(document.getElementById("payload-info").value);
   }

   function fetchPayload() {
     document.location.href = "{{protocol}}{{host}}:{{port}}" + payloadType +"/"+ payloadCallback
     document.getElementById("payload-info").value = "";
     document.getElementById("payload-type").value = "";
   }

   function shell_handler(id, uuid, domain, host, user){
     currentId = id;
     uid = uuid;
     $("#shell-input-output").html("");
     $("#keylogger-area").html("");
     $("#shell-log-area").html("");
     $("#shell-info").html("<b>ID:</b> "+id+" <b>Domain:</b> "+domain+" <b>Hostname:</b> "+host+" <b>User:</b> "+user);
     $.post("/api/attachShell/"+uid+"/"+currentId);
     $("#shell-placeholder").css("display", "block");
     $("#shell-box").css("display", "block");
     $("#shell-box-body").css("display", "block");
     $("#online-shells-body").collapse("hide");
     $("#chat-body").collapse("hide");
     $("#log").css("display", "block");
     $("#log-body").collapse("hide");
     $("#log-full").css("display", "none");
     $("#sinfo").css("width", "50%");
     $("#sinfo-body").collapse("hide");
   }

   document.getElementById("shell-open").click();
   $("#keylogger").click(function(){
     $("#keylogger-area").load("/api/fetchKeylogger/"+currentId);
   });
   $("#shell-logs").click(function(){
     $("#shell-log-area").load("/api/fetchShellLog/"+currentId);
   });
   $("#screenshot").click(function(){
    $("#screenshot-area").load("/api/fetchScreenshots/"+currentId);
   });

   $("#shell-command").on("keyup", function(e){
       if (e.keyCode == 13) {
         e.preventDefault();
         send_cmd();
       };
   });

   function send_cmd(){
     var cmd = $("#shell-command").val();
     $.ajax({
       type: "POST",
       url: "/api/pushCmd/"+currentId,
       contentType: "application/json",
       dataType: "json",
       async: true,
       data: JSON.stringify({'user': "{{username}}", 'cmd': cmd}),
       success: function(data){
         // For future??
       }
     });

     $("#shell-command").val("").focus();
     var objDiv = document.getElementById("shell-input-output");
     objDiv.scrollTop = objDiv.scrollHeight;
     };
     setInterval(function(){
       if (currentId != "__undefined__"){
       $.get("/api/fetchInput/"+currentId, function(data) {
         if (data !== "__no_output__"){
           $("#shell-input-output").append(data+ "<br>");
           var objDiv = document.getElementById("shell-input-output");
           objDiv.scrollTop = objDiv.scrollHeight;
         }
       });
       $.get("/api/fetchOutput/"+currentId, function(data) {
         if (data !== "__no_output__"){
           $("#shell-input-output").append(data+ "<br>");
           var objDiv = document.getElementById("shell-input-output");
           objDiv.scrollTop = objDiv.scrollHeight;
         }
       });
      }
     }, 3000);
       function open_box(event, shellContent) {
         var i, tabcontent, tablinks;
         tabcontent = document.getElementsByClassName("tab-content");
         for (i = 0; i < tabcontent.length; i++) {
           tabcontent[i].style.display = "none";
         }
         tablinks = document.getElementsByClassName("tablinks");
         for (i = 0; i < tablinks.length; i++) {
           tablinks[i].className = tablinks[i].className.replace(" active", "");
         }
         document.getElementById(shellContent).style.display = "block";
         event.currentTarget.className += " active";
       }

      function deleteShell(id){
        var confirm = document.getElementById('confirm');
        var shellID = id.getAttribute("data-shell-id");
        confirm.onclick = function() {
          $.ajax({
            type: "POST",
            url: "/api/deleteShell/"+shellID,
            contentType: "application/json",
            dataType: "json",
            async: true,
            data: JSON.stringify({'user': "{{username}}"}),
            success: function(data){
              // For future??
            }
          });
        };
      };

      setInterval(function(){
        $("#online-shells-body").load("/api/listShells");
        $("#log-body").load("/api/newEvents");
        var objDiv = document.getElementById("log-body");
        objDiv.scrollTop = objDiv.scrollHeight;
      }, 3000);
      $(document).ready(function(){
        $(".sidebar-toggle").pushMenu('toggle');
        $("#message-area").load("/api/fetchMsgs");
        $("#log-body").load("/api/newEvents");
        $("#online-shells-body").load("/api/listShells");
        $("#log").css("width", "50%");
        $("#sinfo").css("width", "50%");
        $("#chat-body, #online-shells-body, #log-body, #sinfo-body").collapse("show");
        $("#log-full, #shell-placeholder").css("display", "none");
      });
      $("#load-dashboard").click(function(){
        $("#log, #chat, #online-shells, #sinfo").css("display", "block");
        $("#log-full").css("display", "none");
        $("#chat, #online-shells").css("width", "");
        $("#log").css("width", "50%");
        $("#sinfo").css("width", "50%");
        $('#shell-box-body').toggle();
        $("#log-body,#chat-body,#online-shells-body, #sinfo-body").collapse("show");
      });
      $("#load-chat").click(function(){
        $("#online-shells").css("width", "");
        $("#chat-body").collapse("show");
        $("#chat").css("display", "block");
      });
      $("#load-online-shells").click(function(){
        $("#chat").css("width", "");
        $("#online-shells-body").collapse("show");
        $("#online-shells").css("display", "block");
      });
      $("#event-log").click(function(){
        $('#shell-box-body').css("display", "none");
        $("#log-full-area").load("/api/fetchLogs/event");
        $("#sinfo-body,#log-body,#log-body, #online-shells-body, #chat-body").collapse("hide");
        $("#interact-shell-body").css("display", "none");
        $("#log-full").css("display", "block");
        $("#log-menu").trigger("click");
      });
      $("#shells-log").click(function(){
        $('#shell-box-body').css("display", "none");
        $("#log-full-area").load("/api/fetchLogs/shell");
        $("#sinfo-body,#log-body,#online-shells-body, #chat-body").collapse("hide");
        $("#interact-shell-body").css("display", "none");
        $("#log-full").css("display", "block");
        $("#log-menu").trigger("click");
      });
      $("#keyloggers-log").click(function(){
        $('#shell-box-body').css("display", "none");
        $("#log-full-area").load("/api/fetchLogs/keylogger");
        $("#sinfo-body,#log-body,#online-shells-body, #chat-body").collapse("hide");
        $("#interact-shell-body").css("display", "none");
        $("#log-full").css("display", "block");
        $("#log-menu").trigger("click");
      });
      $("#screenshots-log").click(function(){
        $('#shell-box-body').css("display", "none");
        $("#log-full-area").load("/api/fetchLogs/screenshot");
        $("#sinfo-body,#log-body,#online-shells-body, #chat-body").collapse("hide");
        $("#interact-shell-body").css("display", "none");
        $("#log-full").css("display", "block");
        $("#log-menu").trigger("click");
      });
      $("#http-log").click(function(){
        $("#log-full-area").load("/api/fetchLogs/http");
        $("#sinfo-body,#log-body,#chat-body,#online-shells-body").collapse("hide");
        $("#interact-shell-body").css("display", "none");
        $("#log-full").css("display", "block");
        $("#log-menu").trigger("click");
      });
      $("#shell-log").click(function(){
        $("#log-full-area").load("/api/fetchLogs/shell");
        $("#sinfo-body,#log-body,#chat-body,#online-shells-body").collapse("hide");
        $("#interact-shell-body").css("display", "none");
        $("#log-full").css("display", "block");
        $("#log-menu").trigger("click");
      });
      $("#keylogger-log").click(function(){
        $("#log-full-area").load("/api/fetchLogs/keylogger");
        $("#sinfo-body,#log-body,#chat-body,#online-shells-body").collapse("hide");
        $("#interact-shell-body").css("display", "none");
        $("#log-full").css("display", "block");
        $("#log-menu").trigger("click");
      });
      $("#chat-log").click(function(){
        $("#log-full-area").load("/api/fetchLogs/chat");
        $("#sinfo-body,#log-body,#chat-body,#online-shells-body").collapse("hide");
        $("#interact-shell-body").css("display", "none");
        $("#log-full").css("display", "block");
        $("#log-menu").trigger("click");
      });
      $("#error-log").click(function(){
        $("#log-full-area").load("/api/fetchLogs/error");
        $("#sinfo-body,#log-body,#chat-body,#online-shells-body").collapse("hide");
        $("#interact-shell-body").css("display", "none");
        $("#log-full").css("display", "block");
        $("#log-menu").trigger("click");
      });

      var socket = io.connect("{{protocol}}" + document.domain + ':' + location.port);

      $("#chat-message").on("keyup", function(e){
          if (e.keyCode == 13) {
            e.preventDefault();
            send_msg();
          };
      });

      function send_msg(){
        var user = "{{ username }}";
        var msg = $("#chat-message").val();
        socket.emit("msg-sent", {
          username : user,
          message : msg,
        })
        $("#chat-message").val("").focus();
      };

      socket.on("msg-received", function( msg ){
        if(typeof msg !== "__undefined__"){
          $("#message-area").load("/api/fetchMsgs");
          var objDiv = document.getElementById("message-area");
          objDiv.scrollTop = objDiv.scrollHeight;
        };
      });

   </script>
