{% block content %}
   <div style="border-bottom: 1px solid #ccc;" id="log-full-header" class="box-header with-border">
      <h3 id="log-full-title" class="box-title">{{log_name}} Log</h3>
      <div class="box-tools pull-right">
         <button type="button" onclick="$('#log-full').css('display', 'none')" class="btn btn-box-tool pull-right" ><i class="fa fa-times"></i>
         </button>
         <button style="font-size: 12px" id="shrink-log-full-body" onclick="$('#log-full-body').collapse('toggle')" type="button" class="btn btn-box-tool pull-right"><i class="fa fa-minus"></i>
         </button>
      </div>
   </div>
   <div id="log-full-body" class="box-body">
      <div style="height: 700px;" class="direct-chat-messages">
         <div class="direct-chat-msg">
               {% if output %}
               <div content="text/html" style="white-space:pre-wrap;">{{log_content}}</div>
               {%else%}
              {% for date in dates%}
              <div content="text/html" style="white-space:pre-wrap;"><a onclick='
                      $("#chat-body").collapse("hide");
                      $("#online-shells-body").collapse("hide");
                      $("#shell-body").collapse("hide");
                      $("#log").css("display", "none");
                      $("#log-full").css("display", "block");
                      $("#log-full-area").load("/api/fetchLog/{{date}}/{{log_name}}");'>{{date}}</a></div>
              {% endfor %}
              {%endif%}
         </div>
      </div>
   </div>
   <script>
   $(document).ready(function(){
     $("#log-full-body").collapse("show");
     $('#shrink-log-full-body').click(function(){
       icon = $(this).find("i");
       icon.toggleClass("fa fa-plus fa fa-minus")
     });
   });
   </script>
{% endblock %}
