{% block content %}
{% for msg in msgs %}
<div style="border-bottom:1px dotted gray;" class="direct-chat-msg">
   <div class="direct-chat-info clearfix">
      <span id="message-username" style="font-size: 13px;" class="direct-chat-name pull-left"> {{msg["username"]}}: </span>
      <span id="message-timestamp" style="margin-right: 15px;font-size: 13px;" class="direct-chat-timestamp pull-right"> {{msg["timestamp"]}} </span>
   </div>
   <div style="background-color: black;" id="" class="">
     {{msg["message"]}}
   </div>
</div>
<script>
	$("#chat-content-body").scrollTop($("#chat-content-body")[0].scrollHeight);
</script>
{% endfor %}
{% endblock %}
