{% block content %}
<table class="table">
   <thead>
      <tr>
         <th>Domain\Username</th>
         <th>Hostname</th>
         <th>External IP</th>
         <th>Last Seen</th>
      </tr>
   </thead>
   <tbody>
     {% if shells%}
     {% for shell in shells %}
      <tr>
         <td><a id="shell-prompt" onclick='shell_handler("{{shell["shell_id"]}}", "{{uid}}", "{{shell["shell_prompt"].split("\\")[0]}}", "{{shell["shell_hostname"]}}", "{{shell["shell_prompt"].split("\\")[1]}}")'>{{shell["shell_prompt"]}}</a></td>
         <td>{{shell["shell_hostname"]}}</td>
         <td>{{shell["shell_ip"]}}</td>
         <td>{{shell["shell_timestamp"]}}</td>
         <td data-toggle="modal" data-target="#myModal" data-shell-id="{{shell['shell_id']}}" onclick="deleteShell(this)" class="fa fa-trash"></td>
      </tr>
      {% endfor %}
      {% endif %}
   </tbody>
</table>
{% endblock %}
